* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(180deg, #91c6ff, #4da1ff);
  min-height: 100vh;
}

.main-container {
  max-width: 1200px;   /* kontrol lebar semua halaman */
  margin: 0 auto;      /* otomatis center */
  padding: 0 20px;     /* jarak kiri kanan biar rapi */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 30px;
  border-bottom: 3px solid #1E90FF;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
    width: 64px;
    object-fit: contain;
}

.logo-box {
    width: 70px;
    height: 40px;
    background: #d9d9d900;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promo {
  font-weight: 600;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.kategori {
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.auth-btn {
  background: #1E90FF;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

/* Tag Line */
.tagline {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  color: #111;
}

/* Search Box */
.search-box {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-box input {
  width: 300px;
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  font-size: 15px;
}

/* Banner */
.banner-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.banner {
  width: 200px;
  height: 120px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Category Buttons */
.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.arrow {
  border: none;
  background: white;
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.categories {
  display: flex;
  gap: 10px;
}

.cat-btn {
  background: white;
  border: 2px solid #111;
  border-radius: 5px;
  padding: 5px 15px;
  font-weight: 500;
  cursor: pointer;
}

/* Rekomendasi Produk */
.recommend-section {
  padding: 0 50px 40px;
}

.recommend-header {
  display: flex;
  justify-content: center  ;
  align-items: center;
  gap: 300px;
  margin-bottom: 15px;
  width: 100%;
}
.recommend-header h3 {
  font-size: 20px;
  font-weight: 700;
}

.lihat-semua {
  background: #1E90FF;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}

.lihat-semua {
  background: #1E90FF;
  color: white;
  border: none;
  padding: 6px 15px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 500;
}

.product-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  width: 150px;
  height: 180px;
  background: white;
  border-radius: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.container {
  max-width: 1200px;   /* kontrol lebar semua halaman */
  margin: 0 auto;      /* otomatis center */
  padding: 0 20px;     /* jarak kiri kanan biar rapi */
}